@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Grotesk:wght@400&display=swap");

@tailwind components;
@tailwind utilities;

* {
  @apply text-base;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}
